.all{
    width: 100%;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    background-color: #1a1a1a;
    border-radius: 8px;
    margin-top: 40px;
}

p{
    padding: 20px;
}

.filter-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 10px;
}

.filter-container label {
    font-size: 16px;
    font-weight: bold;
    color: #555;
}

.filter-container select {
    padding: 8px 12px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
}

.filter-container button {
    padding: 8px 16px;
    font-size: 14px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.filter-container button:hover {
    background-color: #0056b3;
}

.product{
    list-style: none;
    padding: 0;
    margin: 0;
}

.product-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid #ddd;
}

.product-item:last-child {
    border-bottom: none;
}

.product-name {
    font-size: 18px;
    color: #959595;
    margin: 0;
}

.product-category {
    font-size: 14px;
    color: #777;
    margin: 5px 0 0;
}

.remove-button {
    padding: 8px 14px;
    font-size: 12px;
    color: #fff;
    background-color: #e74c3c;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.remove-button:hover {
    background-color: #c0392b;
}

.details-button{
    padding: 8px 14px;
    font-size: 12px;
    color: #fff;
    background-color: #28a745;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left: 10px;
}

.details-button:hover {
    background-color: #218838;
}

.add-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #333333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #0b0b0b;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

input:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

button {
    padding: 10px 15px;
    font-size: 16px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

.edit-button {
    background-color: #4c89af;
    color: white;
    padding: 8px 14px;
    font-size: 12px;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.edit-button:hover {
    background-color: #2b7087;
}

.edit-button:active {
    background-color: #30bee6;
}